
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^rgt\-awc\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.rgt\-awc\.com$
RewriteRule ^(.*)$ "https\:\/\/rgt\-awc\.com\/$1" [R=302,L]

